#php_value register_globals on
RewriteEngine On
RewriteBase /
AuthType Basic
AuthName "Libra!"
#Require valid-user

#AuthUserFile /var/www/libra/.htpasswd 
#AuthUserFile /var/www/libra.com/p/.htpasswd
