
/* CSS RESET */
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,abbr,
address,cite,code,del,dfn,em,
/*
small,strong,sub,sup,b,i,
*/
img,ins,kbd,q,samp,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,
figure,footer,header,hgroup,menu,nav,
section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    border: 0;
}
body{
    line-height:1
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
nav, ul{
    list-style:none
}
blockquote,q{
    quotes:none
}
blockquote:before,blockquote:after,q:before,q:after{
    content:none
}
a{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent
}
a:visited, 
a:link,
a:hover,
a:active{
    color: rgb(27, 112, 179);
    text-decoration: none;
}
ins{
    background-color:#ff9;
    color:#000;
    text-decoration:none
}
mark{
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold
}
del{
    text-decoration:line-through
}
abbr[title],
dfn[title]{
    border-bottom:1px dotted;
    cursor:help
}
table{
    border-collapse:collapse;
    border-spacing:0
}
hr{
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0
}
input,
select{
    vertical-align:middle
}
input[type='checkbox'], input[type='radio']{
    padding: 0;
    margin: 0;
    vertical-align:middle;
}
/* END: CSS RESET */

html{
    height: 100% !important;
}

body{
    background-color: #f9f9f9;
    position: relative;
    height: 100%;
}

.wrapper{
    height: 100%;
    min-width: 980px;
    line-height: 1.2em;
    position: relative;
    font-family: Roboto, sans-serif;
}

.textbox_android_before{
    line-height: 0.2em;
    border-right: 1px solid black;
}
.textbox_android_after{
    line-height: 0.2em;
    border-left: 1px solid black;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* HEADER CSS */
.header{
    padding: 8px 0;
    width: 100%;
    background-color: #8CAA2E;
    /*
    background-color: #a4c739;
    position: fixed;
    z-index: 10;
    */
}
.header_ul > li{
    font-weight: bold;
    color: white;
    float: left;
}
.header_ul > li:last-child{
    float: right;
    margin-right: 30px;
}
.logo{
    width: 20px;
}
.login_menu{
    position: absolute;
    right: 0;
    top: 20px;
    background: #A9DD06;
    width: 200px;
    height: 300px;
    z-index: 10;
    display: none;
}
.login_dropdown:hover + .login_menu,
.login_menu:hover{
    display: block;
}
.input_resource_search{
    font-size: 1em;
    margin: 0 0 0 253px;
    padding: 8px 5px;
    width: 450px;
    border: 0;
    outline: 0;
    background: #fff url("/images/search_icon.png") no-repeat right center;
    background-size: 30px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.5);
}
/* HEADER END*/

/* LEFT MENU CSS */

.left_menu{
    width: 250px;
    font-size: 0.9em;
    background-color: #4d5052;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.children{
    margin-left: 12px;
}

.dropdown:hover{
    opacity: .5;
}
.dropdown{
    /*
    margin: -9px -9px -9px -24px;
    */
    margin-left: -24px;
    cursor: pointer;
}
.down_parent{
    display: none;
}
.up_parent img, .down_parent img{
    width: 20px;
}
.left_category_menu{
    line-height: 1.4em;
}
.left_category_menu a,
.left_category_menu a:active, 
.left_category_menu a:link, 
.left_category_menu a:visited{ 
    text-transform: uppercase;
    color: #E2E2E2 !important;
}
.left_category_menu a:hover{
    //text-transform: uppercase;
    color: #8CAA2E !important;
}
.left_category_menu > li > a{
    font-weight: bold;
}
.left_category_menu > li{
    padding: 10px 0 10px 27px;
    line-height: 1.3em;
    border-bottom: 1px solid #2E2E2E;
}

/* LEFT MENU CSS END */
.loading_animation{
    display: none;
}
.content_holder{
    /*
    margin-top: 51px;
    */
    float: right;
    padding-bottom: 20px;
}

/* RESOURCE BOX CSS */

.resource_box{
    position: relative;
    width: 26%;
    min-width: 200px;
    max-width: 270px;
    /*    
    width: 250px;
    */
    height: 340px;
    background-color: #fff;
    float: left;
    margin: 20px 0 0 2%;
    padding: 12px;
    border: 1px solid #D8D8D8;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.resource_box p{
    margin: 5px 0;
}
a.resource_name,
a.resource_name:active, 
a.resource_name:link, 
a.resource_name:visited, 
a.resource_name:hover{
    text-transform: uppercase;
    color: #000 !important;
    /*font-size: 1.1em;*/
    font-weight: bold;
}
a.author_name,
a.author_name:active, 
a.author_name:link, 
a.author_name:visited, 
a.author_name:hover{
    color: #707070 !important;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.5em;
}
.resource_tags_p a,
.resource_tags_p a:active, 
.resource_tags_p a:link, 
.resource_tags_p a:visited, 
.resource_tags_p a:hover{
    color: #8CAA2E !important;
    font-weight: bold;
    font-size: 0.9em;
}
.upvote_container a,
.upvote_container a:active, 
.upvote_container a:link, 
.upvote_container a:visited, 
.upvote_container a:hover{
    color: #000 !important;
    font-weight: bold;
    /*font-size: 1.1em;*/
}
.resource_tags_p{
    /*    height: 60px;
        clear: both;*/
}
.resource_tags_p a, .resource_views_points{
    /* white-space: nowrap; */
}
.resource_views_points{
    position: absolute;
    width: 86%;
    bottom: 12px;
}
.resource_views_points .resource_views{
    float: right;
}
.upvote_container{
    position: absolute;
    bottom: 33px;
    width: 90%;
    /*    
    float: right;
        font-size: 0.8em;
        width: 20%;
    */
}
.submitter{
    position: absolute;
    bottom: 10px;
}
.resource_desc{
    font-size: 0.9em;
    /*    height: 150px;
    */
    overflow: hidden;
}
.resource_star{
    width: 16px;
}
.resource_point{
    width: 16px;
}
.resource_desc li{
    margin-left: 0.3%;
}
.resource_desc ul, ol{
    list-style: circle inside;
}
/* RESOURCE BOX CSS END */