
/* CSS RESET */
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,abbr,
address,cite,code,del,dfn,em,
/*
small,strong,sub,sup,b,i,
*/
img,ins,kbd,q,samp,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,
figure,footer,header,hgroup,menu,nav,
section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    border: 0;
}
body{
    line-height:1
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
nav, ul{
    list-style:none
}
blockquote,q{
    quotes:none
}
blockquote:before,blockquote:after,q:before,q:after{
    content:none
}
a{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent
}
a:visited, 
a:link,
a:hover,
a:active{
    color: rgb(27, 112, 179);
    text-decoration: none;
}
ins{
    background-color:#ff9;
    color:#000;
    text-decoration:none
}
mark{
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold
}
del{
    text-decoration:line-through
}
abbr[title],
dfn[title]{
    border-bottom:1px dotted;
    cursor:help
}
table{
    border-collapse:collapse;
    border-spacing:0
}
hr{
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0
}
input,
select{
    vertical-align:middle
}
input[type='checkbox'], input[type='radio']{
    padding: 0;
    margin: 0;
    vertical-align:middle;
}
/* END: CSS RESET */

html{
    height: 100% !important;
}

body{
    background-color: #f9f9f9;
    position: relative;
    height: 100%;
}

.wrapper{
    height: 100%;
    min-width: 980px;
    line-height: 1.2em;
    position: relative;
    /*font-family: 'Raleway', cursive;*/
    font-family: Roboto, sans-serif;
}

.textbox_android{
    border: 0;
    border-bottom: 1px solid #CACACA;
    padding: 0 5px;
}
.textbox_android_before,
.textbox_android_after{
    position: absolute;
    margin-top: 16px;
    height: 5px;
    display: inline;
}
.textbox_android_before{
    border-right: 1px solid #CACACA;
}
.textbox_android_after{
    border-left: 1px solid #CACACA;
}
.submit_button:active{
    /*color:black;*/
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
}
.submit_button{
    padding: 10px;
    color: white;
    font-weight: bold;
    border: 0;
    background-color: #578900;
    /*
    border: 1px solid #D8D8D8;9DD426
    background: #82bc00;
    */
    background: -moz-linear-gradient(top,  #82bc00 0%, #659b00 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82bc00), color-stop(100%,#659b00)); 
    background: -webkit-linear-gradient(top,  #82bc00 0%,#659b00 100%);
    background: -o-linear-gradient(top,  #82bc00 0%,#659b00 100%); 
    background: -ms-linear-gradient(top,  #82bc00 0%,#659b00 100%); 
    background: linear-gradient(to bottom,  #82bc00 0%,#659b00 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82bc00', endColorstr='#659b00',GradientType=0 );
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* HEADER CSS */
.header{
    padding: 8px 0;
    width: 100%;
    background-color: #578900;
    /*
    background-color: #578900;
    background-color: #82bc00;
    position: fixed;
    z-index: 10;
    background: #487200;
    background: -moz-linear-gradient(top,  #578900 0%, #487200 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#578900), color-stop(100%,#487200));
    background: -webkit-linear-gradient(top,  #578900 0%,#487200 100%);
    background: -o-linear-gradient(top,  #578900 0%,#487200 100%); 
    background: -ms-linear-gradient(top,  #578900 0%,#487200 100%); 
    background: linear-gradient(to bottom,  #578900 0%,#487200 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#578900', endColorstr='#487200',GradientType=0 ); 
    */
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.3);

}
.header_ul_left > li{
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    color: white;
    float: left;
}
.header_ul_right > li{
    float: right;
    margin-right: 30px;
    margin-top: 7px;
}
.view_icon{
    width: 20px;
}
.logo{
    width: 20px;
}
.login_menu{
    position: absolute;
    right: 0;
    top: 20px;
    background: #A9DD06;
    width: 200px;
    height: 300px;
    z-index: 10;
    display: none;
}
.login_dropdown:hover + .login_menu,
.login_menu:hover{
    display: block;
}
.input_resource_search{
    font-size: 1em;
    margin: 0 0 0 0;
    padding: 8px 5px;
    width: 450px;
    border: 0;
    outline: 0;
    background: #fff url("/images/search_icon.png") no-repeat right center;
    background-size: 30px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.5);
}
.search_highlight{
    background-color: #FFE000;
}
a#submit_library,
a#submit_library:active, 
a#submit_library:link, 
a#submit_library:visited, 
a#submit_library:hover{
    text-transform: uppercase;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.1em;
    font-weight: bold;
}
/* HEADER END*/

/* LEFT MENU CSS */

.left_menu{
    width: 250px;
    font-size: 0.9em;
    background-color: #4d5052;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 3px 0px 3px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    3px 0px 3px 0px rgba(50, 50, 50, 0.15);
    box-shadow:         3px 0px 3px 0px rgba(50, 50, 50, 0.15);
    z-index: 10;
}
.children{
    margin-left: 12px;
}

.dropdown:hover{
    opacity: .5;
}
.dropdown{
    /*
    margin: -9px -9px -9px -24px;
    */
    margin-left: -24px;
    cursor: pointer;
}
.down_parent{
    display: none;
}
.up_parent img, .down_parent img{
    width: 20px;
}
.left_category_menu a.selected{
    color: #FF3D3D !important;
}
.left_category_menu{
    padding-left: 20px;
}
.left_category_menu a,
.left_category_menu a:active, 
.left_category_menu a:link, 
.left_category_menu a:visited{ 
    text-transform: uppercase;
    color: #E2E2E2;
}
.left_category_menu a:hover{
    //text-transform: uppercase;
    color: #FF3D3D;
}
.left_category_menu > li > a{
    font-weight: bold;
}
.left_category_menu > li{
    line-height: 1em;
    padding: 5px 0;
    /*border-bottom: 1px solid #2E2E2E;*/
}
.left_cat_header{
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #A8A8A8;
    font-size: 1.2em;
    padding-bottom: 20px !important;
}
.cat_search_img{
    width: 22px;
}
.cat_search_div{
    height: 30px;
    position: relative;
    padding-bottom: 5px;
    margin-left: 22px;
}
.cat_search{
    display: none;
}
.textbox_android_cat_search{
    outline: 0;
    width: 175px;
    color: #E2E2E2;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #E2E2E2;
    padding: 5px;
    /*line-height: 1.7em;*/
}
.textbox_android_cat_search_before,
.textbox_android_cat_search_after{
    position: absolute;
    margin-top: 26px;
    height: 5px;
}
.textbox_android_cat_search_before{
    border-right: 1px solid #E2E2E2;
}
.textbox_android_cat_search_after{
    border-left: 1px solid #E2E2E2;
}
/* LEFT MENU CSS END */
.loading_animation{
    /*display: none;*/
    position: relative;
}
.content_holder{
    /*margin-bottom: -100px;*/
    min-height: 80%;
    float: right;
    padding-bottom: 35px;
    /*
    -webkit-box-shadow: inset 0px 2px 4px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    inset 0px 2px 4px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         inset 0px 2px 4px 0px rgba(50, 50, 50, 0.5);
    */
}
.footer{
    height: 50px; 
    margin-left: 275px;
    font-size: 1em;
    clear: both;
}
.footer_absolute{
    position: absolute;
    bottom: 0;
}
.footer li{
    float: left;
    margin-left: 30px;
}

.emirates_row{
    font-size: 0.96em;
    width: 80%;
    float: left;
    background-color: #fff;
    margin: 20px 0 0 25px;
    padding: 12px;
    border: 1px solid #D8D8D8;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
}
.emirate_selected{
    color: #6A9B00 !important;
}
.emirates_link{
    padding-left: 32px;
}
a.emirates_link,
a.emirates_link:active, 
a.emirates_link:link, 
a.emirates_link:visited{
    text-transform: uppercase;
    color: #ADADAD;
    font-weight: bold;
    font-size: 1.1em;
    white-space: nowrap;
}
a.emirates_link:hover{
    color: #6A9B00;
}
.cat_search_details, .em_search{
    font-size: 1.1em;
    font-weight: bold;
}
.cat_search_details{
    color: #FF3D3D;
}
.em_search{
    color: #6A9B00;
}
.search_details{
    font-style: italic;
}
a.clear_filter,
a.clear_filter:active, 
a.clear_filter:link, 
a.clear_filter:visited,
a.clear_filter:hover{
    text-transform: uppercase;
    color: #ADADAD;
    font-weight: bold;
    font-size: 1.1em;    
    padding-left: 32px;
}
/* RESOURCE BOX CSS */

.resource_box{
    position: relative;
    width: 400px;
    /*height: 56px;*/
    float: left;
    background-color: #fff;
    margin: 20px 0 0 25px;
    padding: 12px;
    border: 1px solid #D8D8D8;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.resource_box p{
    margin: 5px 0;
}
.cat_container{
    /*padding-top: 5px;*/
    font-size: 0.75em;
    font-style: italic;
    padding-left: 25px;
}
.emirate_container{
    width: 35px;
    vertical-align: top;
    padding-top: 1px;
}
a.resource_name,
a.resource_name:active, 
a.resource_name:link, 
a.resource_name:visited, 
a.resource_name:hover{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}
a.emirate_a,
a.emirate_a:active, 
a.emirate_a:link, 
a.emirate_a:visited, 
a.emirate_a:hover{
    text-transform: uppercase;
    color: #6A9B00;
    font-weight: bold;
    font-size: 0.75em;
}
a.cat_a,
a.cat_a:active, 
a.cat_a:link, 
a.cat_a:visited, 
a.cat_a:hover{
    text-transform: uppercase;
    color: #FF3D3D;
    font-weight: bold;
    white-space: nowrap;
}
.cat_separator{
    color: black;
}
.upvote_container a,
.upvote_container a:active, 
.upvote_container a:link, 
.upvote_container a:visited, 
.upvote_container a:hover{
    color: #000 ;
    font-weight: bold;
    /*font-size: 1.1em;*/
}
.resource_views_points{
    position: absolute;
    width: 86%;
    bottom: 12px;
}
.resource_views_points .resource_views{
    float: right;
}
.upvote_container{
    position: absolute;
    bottom: 33px;
    width: 90%;
    /*    
    float: right;
        font-size: 0.8em;
        width: 20%;
    */
}
.submitter{
    position: absolute;
    bottom: 10px;
}
.resource_desc{
    font-size: 0.9em;
    /*    height: 150px;
    */
    overflow: hidden;
}
.resource_star{
    width: 16px;
}
.resource_point{
    width: 16px;
}
/* 
.resource_desc li{
    margin-left: 0.3%;
}
.resource_desc ul, ol{
    list-style: circle inside;
}
RESOURCE BOX CSS END */


/* CATEGORY BOX CSS */

.category_box{
    position: relative;
    width: 45%;
    float: left;
    background-color: #fff;
    margin: 20px 0 0 25px;
    padding: 12px;
    border: 1px solid #D8D8D8;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
}
/*.category_box:nth-child(2n+1){*/
.category_box:nth-child(even){
    clear: both;
}
.category_box h2,
.category_box li
{
    margin-bottom: 10px;
}
.category_box a,
.category_box a:active, 
.category_box a:link, 
.category_box a:visited, 
.category_box a:hover{
    text-transform: uppercase;
    font-size: 1.1em;
    /*    font-weight: bold;
        color: #8CAA2E !important;
    */
}
/* CATEGORY BOX CSS END */

/* SUBMIT LIBRARY*/

.submit_library{
    min-width: 560px;
    width: 90%;
    /*height: 400px;*/
    background-color: #fff;
    margin: 20px 0 0 20px;
    padding: 15px;
    border: 1px solid #D8D8D8;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;    
}
.submit_library input,
.submit_library textarea
{
    font-size: 1em;
    outline: none;
    width: 90%;
}
.submit_library input[type='submit']{
    width: auto;
}
.submit_library input[required]{
}
.submit_label{
    color: #6A9B00;
}
.description span{
    font-size: .8em;
}
.description textarea{
    border: 1px solid #CACACA;
}
.submit_library .error{
    color: red;
}
.submit_library p{
    font-size: 1.2em;
    font-weight: bold;
}
.submit_library td{
    padding-bottom: 15px;
    vertical-align: top;
}
/* SUBMIT LIBRARY END*/
